# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift


name: Build Wallet

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        cd source/did-wallet-sdk-ios
          xcodebuild clean build \
            -project DIDWalletSDK.xcodeproj \
            -scheme DIDWalletSDK \
            -sdk iphonesimulator
    - name: Pick any available iOS Simulator
      run: |
        DEVICE_ID=$(xcrun simctl list devices available -j \
          | jq -r '.devices
            | to_entries[]
            | select(.key | contains("iOS"))
            | .value[]
            | select(.isAvailable==true)
            | .udid' | head -n1)
        if [ -z "$DEVICE_ID" ]; then
          echo "No available iOS Simulator found"; exit 1
        fi
        echo "DEVICE_ID=$DEVICE_ID" >> $GITHUB_ENV
    
    - name: Boot simulator (if needed)
      run: |
        xcrun simctl boot "$DEVICE_ID" || true
        xcrun simctl bootstatus "$DEVICE_ID" -b
    
    - name: Test (concrete device but not hardcoded)
      run: |
        cd source/did-wallet-sdk-ios
        xcodebuild test \
          -project DIDWalletSDK.xcodeproj \
          -scheme DIDWalletSDKTests \
          -destination "id=$DEVICE_ID" \
          -destination-timeout 120
